.todo-list {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.todo-list h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.todo-list div input {
  padding: 8px;
  border: 1px solid #333;
  border-radius: 4px;
  margin-right: 10px;
  width: 87%;
}

.todo-list button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.todo-list ul {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
  margin: 5px 0;
  padding: 8px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.todo-list li input:not([type="checkbox"]),
.todo-list li span {
  border: none;
  flex-grow: 1;
  padding: 8px;
}

.todo-list .delete {
  background-color: #df2a2a;
}
.todo-list .done {
  background-color: #1cb135;
}

.completed span,
.completed input{
  text-decoration: line-through;
}